.card {
  margin-bottom: 0.5rem;
  transition: background 0.2s !important;
}

/* .card:hover {
  cursor: pointer;
  background-color: #1976d210 !important;
} */

.card .gridItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}